<!-- <ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-item class="">
          <ion-datetime class="" displayFormat="MM/DD/YYYY HH:mm"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="text-center text-3xl">Calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="h-screen flex items-center justify-center ">
    <div class="relative overflow-hidden">
      <div class="border-1 bg-gray-200 border-cyan-700 rounded-md p-8 relative">
          <div class="absolute top-0 right-0 w-5 h-5 rounded-full bg-white border-1 border-cyan-700 flex  transform translate-x-1 -translate-y-1">
            <div class="mx-auto my-auto w-3 h-3 rounded-full bg-cyan-700"></div>
          </div>
        <p>here will be my content</p>
      </div>
    </div>
  </div>
</ion-content>
