
ion-content {
    --background: transparent;
  
    ion-grid {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .ion-align-items-center {
      align-items: center;
    }
  
    .ion-text-center {
      text-align: center;
    }

    .dt{
        
    }
  }
  

