<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">Progress-Bar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="w-12 h-12 bg-cyan-700 rounded relative m-10 border-2 border-black">
    <div
      class="w-0 h-0 absolute -bottom-3 left-1/2 transform -translate-x-1/2 border-l-[10px] border-l-transparent border-t-[15px] border-t-cyan-700 border-r-[10px] border-r-transparent"
    ></div>
  </div>
  

  <!-- <div class="bubble bubble4 h-12 w-12 bg-cyan-700"></div> -->
  <div class="container h-full flex items-start justify-center">
    <div class="flex mt-5">
      <div class="flex items-center">
        <div class="w-12 h-12 rounded bg-cyan-700 text-white flex">
          <ion-icon name="pencil-outline" class="text-3xl mx-auto my-auto"></ion-icon>
        </div>
        <div class="w-60 h-1 border-b-2 border-dashed border-cyan-600"></div>
      </div>
      <div class="flex items-center">
        <div class="w-12 h-12 rounded bg-cyan-100 text-cyan-700 border-3 border-cyan-700 flex">
          <ion-icon name="create-outline" class="text-3xl mx-auto my-auto"></ion-icon>
        </div>
        <div class="w-60 h-1 border-b-2 border-dashed border-cyan-600"></div>
      </div>
      <div class="flex items-center">
        <div class="w-12 h-12 rounded bg-cyan-100 text-slate-400 flex">
          <ion-icon name="cash-outline" class="text-3xl mx-auto my-auto"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>
