<div class="max-w-96 mx-auto pb-10">
  <div class="rounded-md">
    <div class="">
      <div class="bg-white border-2 border-blue-900 rounded-md p-2.5 text-sm">
        <div>
          <!-- top part -->
          <div class="flex gap-3">
            <div>
              <p class="{{ showLess ? 'line-clamp-2' : '' }}">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Officia dolores iste pariatur quibusdam, nisi suscipit,
                architecto eum dignissimos illo minus soluta ex dolor doloremque
                iure numquam inventore accusamus doloribus minima.
              </p>
              <div
                (click)="showLess = !showLess"
                class="flex justify-end text-blue-500 underline cursor-pointer"
              >
                {{ showLess ? "more" : "less" }}
              </div>
            </div>
            <div class="mt-1">
              <ion-icon
                class="bg-blue-100 p-1 text-xl rounded-full"
                name="chevron-forward-outline"
              ></ion-icon>
            </div>
          </div>
          <hr class="my-2 border-t-[1.5px] border-blue-300" />
          <!-- middle part -->
          <div class="flex justify-between mt-2">
            <div clsss="">
              <p class="text-xs">Priority</p>
              <button
                class="bg-orange-200 text-orange-500 font-bold text-[10px] px-2 rounded-sm"
              >
                MEDIUM
              </button>
            </div>
            <div class="border-l-[1.5px] border-blue-100"></div>
            <div class="">
              <p class="text-xs">Category</p>
              <p class="font-bold text-xs">Material mgmt</p>
            </div>
            <div class="border-l-[1.5px] border-blue-100"></div>
            <div class="">
              <p class="text-xs">Asset name</p>
              <p class="font-bold text-xs">Silo 1</p>
            </div>
            <div class="border-l-[1.5px] border-blue-100"></div>
            <div>
              <p class="text-xs">Status</p>
              <button class="bg-red-600 text-white text-[10px] px-3 rounded-sm">
                OPEN
              </button>
            </div>
          </div>
          <hr class="my-2 border-t-[1.5px] border-blue-300" />
          <!-- bottom part -->
          <div class="flex justify-between mt-2">
            <div clsss="">
              <p class="text-xs">To</p>
              <p class="font-bold text-xs">joyce.smith&#64;holcim.com</p>
            </div>
            <div class="border-l-[1.5px] border-blue-100"></div>
            <div class="">
              <p class="text-xs">Due date</p>
              <p class="font-bold text-xs">1<sup>st</sup> Jan 2023</p>
            </div>
            <div class="" (click)="toggleIcon()">
              @if (isStarOutline) {
                <ion-icon
                  class="text-3xl text-blue-800"
                  name="star-outline"
                ></ion-icon>
              } @else {
                <ion-icon class="text-3xl text-blue-950" name="star"></ion-icon>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
