<div
  class="fixed w-full bottom-0 h-2/4 rounded-[32px] shadow-lg bg-transparent transform transition-transform duration-800 z-50"
  [class]="!isMenuOpen ? 'translate-y-[calc(100%+40px)]' : ''"
>
  <div class="h-full w-full flex">
    <div class="h-full w-[calc(100%-125px)] bg-white rounded-tl-[32px]"></div>
    <div class="">
      <svg
        height="34"
        viewBox="0 0 100 50"
        width="68"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z"
          fill="white"
          fill-rule="evenodd"
        ></path>
      </svg>
      <div class="w-auto h-full bg-white relative">
        <div
          class="absolute ml-[7px] -top-[62px] cursor-pointer w-[54px] h-[54px] bg-black rounded-full flex justify-center items-center"
          (click)="menuToggle()"
        >
          <ion-icon class="text-4xl fill-white" name="close"> </ion-icon>
        </div>
      </div>
    </div>
    <div class="h-full bg-white flex-grow rounded-tr-[32px]"></div>
  </div>
  <div class="absolute top-8 w-full h-full bg-transparent overflow-y-scroll">
    <!-- Your Content -->
    <div class="px-3 pb-5">
      <img
        class="w-32 h-32 sm:w-48 sm:h-48 lg:w-32 lg:h-32 mx-auto my-1"
        src="../../../assets/animations/Success.gif"
        alt=""
      />
      <h5
        class="text-[18px] sm:text-[28px] lg:text-[22px] text-center text-[#007382] font-bold mt-4 mb-3"
      >
        The Asset registered successfully
      </h5>
      <div
        class="w-full p-2 border-1 border-[#B1D3D3] rounded-tl-sm rounded-tr-sm flex justify-center space-x-2 sm:space-x-4 items-center"
      >
        <div class="flex items-center gap-2">
          <div
            class="w-[45px] h-[45px] sm:w-[72px] sm:h-[72px] p-[6px] sm:p-[10px] bg-[#EDF5F5] rounded-sm"
          >
            <img class="" src="../../../assets/icon/Sim.png" alt="" />
          </div>
          <div>
            <h6 class="text-[10px] sm:text-[16px] font-bold text-[#007382]">
              SIM
            </h6>
            <p class="text-[10px] sm:text-[16px]">100 asset regd.</p>
          </div>
        </div>
        <div class="h-7 border-l border-[#D8E6E6]"></div>
        <div class="flex items-center gap-2">
          <div
            class="w-[45px] h-[45px] sm:w-[72px] sm:h-[72px] p-[6px] sm:p-[10px] bg-[#EDF5F5] rounded-sm"
          >
            <img class="" src="../../../assets/icon/Material Mgmt.png" alt="" />
          </div>
          <div>
            <h6 class="text-[10px] sm:text-[16px] font-bold text-[#007382]">
              Material mgmt
            </h6>
            <p class="text-[10px] sm:text-[16px]">65 asset regd.</p>
          </div>
        </div>
        <div class="h-7 border-l border-[#D8E6E6]"></div>
        <div class="flex items-center gap-2">
          <div
            class="w-[45px] h-[45px] sm:w-[72px] sm:h-[72px] p-[6px] sm:p-[10px] bg-[#EDF5F5] rounded-sm"
          >
            <img class="" src="../../../assets/icon/Electrical.png" alt="" />
          </div>
          <div>
            <h6 class="text-[10px] sm:text-[16px] font-bold text-[#007382]">
              Electrical
            </h6>
            <p class="text-[10px] sm:text-[16px]">20 asset regd.</p>
          </div>
        </div>
      </div>
      <div
        class="w-full border-l border-r border-b border-[#B1D3D3] rounded-bl-sm rounded-br-sm"
      >
        <p class="text-center text-[12px] p-2">
          Current total registered assets
          <span class="text-[12px] font-extrabold text-[#007382]">125</span>
        </p>
      </div>
    </div>
  </div>
</div>
