<div
  class="custom curve fixed w-full bottom-[-60px] h-3/4 md:h-2/4 rounded-lg shadow bg-white-800 transform transition-transform duration-800 z-50"
  [class]="!isMenuOpen ? 'translate-y-full' : ''"
>
  <div class="h-full w-full flex">
    <div class="h-full w-[calc(100%-80px)] bg-white rounded-tl-[32px]">
      <!-- divvvvvv -->

      <!-- ---------- -->
    </div>
    <div class="">
      <svg
        height="25"
        viewBox="0 0 100 50"
        width="50"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z"
          fill="white"
          fill-rule="evenodd"
        ></path>
      </svg>
      <div class="w-auto h-full bg-white relative">
        <div
          class="absolute ml-[5px] -top-12 cursor-pointer w-10 h-10 bg-black rounded-full flex justify-center items-center"
          (click)="menuToggle()"
        >
          <ion-icon class="text-3xl fill-white" name="close"> </ion-icon>
        </div>
      </div>
    </div>
    <div class="h-full bg-white flex-grow rounded-tr-[32px]"></div>
  </div>
  <div class="absolute top-8 w-full h-auto bg-transparent mx-2">
    <div>lojdfljdfjdf</div>
    <div>lojdfljdfjdf</div>
    <div>lojdfljdfjdf</div>
    <div>lojdfljdfjdf</div>
    <div>lojdfljdfjdf</div>
    <div>lojdfljdfjdf</div>
  </div>
</div>
