

<ion-content [fullscreen]="true">
  <div class="container pt-3"> 
    <div class="mt-2 p-1 gradient-bg text-white rounded text-center">
      <h1 class="py-4">ToDo App</h1>
    </div>
    <div class="row">
      <div class="col-12 pt-2">
        <textarea
          [(ngModel)]="taskObj.taskName"
          class="form-control"
          rows="3"
          placeholder="Add a new task"
        ></textarea>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-2">
        <input
          type="date"
          [(ngModel)]="taskObj.dueDate"
          class="form-control"
          placeholder="Due Date"
        />
      </div>
      <div class="col-6">
        <input
          [(ngModel)]="taskObj.tags"
          type="text"
          placeholder="Enter Comma Seperated tags"
          class="form-control"
        />
      </div>
      <div class="col">
        <button class="btn gradient-bg" (click)="createNewTask()">
          Add Task
        </button>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col">
        <button (click)="setFilter('tags')" [ngClass]="filterType == 'tags' ? 'btn-success' : 'btn-secondary'" class="btn  btn-sm mx-1">Filter By Tags</button>
        <button (click)="setFilter('all')" [ngClass]="filterType == 'all' ? 'btn-success' : 'btn-secondary'" class="btn btn-sm mx-1">Show All</button>
        <button (click)="setFilter('completed')" [ngClass]="filterType == 'completed' ? 'btn-success' : 'btn-secondary'" class="btn btn-sm mx-1">Show Completed</button>
        <button (click)="setFilter('incomplete')" [ngClass]="filterType == 'incomplete' ? 'btn-success' : 'btn-secondary'" class="btn btn-sm mx-1">Show Incomplete</button>
      </div>
    </div>
    <div *ngIf="filterType == 'tags'" class="row pt-4">
      <div class="col">
        <button *ngFor="let tag of tagsList" (click)="selectedTag = tag" [ngClass]="selectedTag == tag ? 'btn-warning' : 'btn-secondary'" (click)="filterByTag()" class="btn btn-sm mx-1">{{tag}}</button>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-12">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th><strong>Index</strong></th>
              <th><strong>Task Name</strong></th>
              <th><strong>Due Date</strong></th>
              <th class="text-center"><strong>Tags</strong></th>
              <th><strong>Remove</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of taskList; let sr=index">
              <td style="text-align: center">{{sr+1}}</td>
              <td>
                <div class="row">
                  <div class="col-1">
                    <input (change)="onComplete()" [(ngModel)]="task.isCompleted" type="checkbox" />
                  </div>
                  <div class="col-6">{{task.taskName}}</div>
                  
                </div>
              </td>
              <td>{{task.dueDate | date:'dd-MMM-YYYY'}}</td>
              <td class="text-center">
                <button *ngFor="let tag of getArrayFromCommaSeparatedString(task.tags)" class="btn tag-gradient-bg btn-sm rounded-btn mx-1">{{tag}}</button>
              </td>
              <td>
                <div class="col-4 text-end">
                  <i (click)="onRemove(sr)" class="fa fa-close px-3 text-danger"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ion-content>


