.form-control {
    border: 1px solid black !important;
  }
  
  .rounded-btn {
    border-radius: 20px;
  }
  
  .gradient-bg {
    background: linear-gradient(to right, #4fab43, #147246);
    color: white;
  }
  
  .tag-gradient-bg {
    background: linear-gradient(to right, #ffe371, #f8ae24);
  }