<div class="max-w-96 mx-auto pb-10">
  <div class="rounded-md">
    <div class="">
      <div class="bg-cyan-50 border-1 rounded-md p-3 text-sm">
        <div>
          <!-- top part -->
          <div class="flex gap-3">
            <div>
              <p class="text-xs">Finding title</p>
              <p class="font-bold text-xs">Roof -AAC - Cement House</p>
            </div>
            <div>
              <p class="text-xs">Status</p>
              <button
                class="bg-blue-900 text-white text-xs px-2 py-1 rounded-sm"
              >
                OPEN
              </button>
            </div>
          </div>
          <hr class="my-2 border-t-[1.5px] border-slate-400" />
          <!-- middle part -->
          <div class="flex justify-between mt-2">
            <div clsss="">
              <p class="text-xs">Risk level</p>
              <button
                class="bg-yellow-400 font-bold text-xs px-2 py-1 rounded-sm"
              >
                LEVEL 2
              </button>
            </div>
            <div class="border-l-[1.5px] border-slate-300"></div>
            <div class="">
              <p class="text-xs">Due date</p>
              <p class="font-bold text-xs">1<sup>st</sup> Jan 2023</p>
            </div>
            <div class="border-l-[1.5px] border-slate-300"></div>
            <div class="">
              <p class="text-xs">Created by</p>
              <p class="font-bold text-xs">joyce.smith&#64;holcim.com</p>
            </div>
          </div>
          <hr class="my-2 border-t-[1.5px] border-slate-400" />
          <!-- bottom part -->
          <div class="flex mt-2 items-center">
            <div class="">
              <div class="bubble bg-cyan-700 text-white">
                <ion-icon
                  name="pencil-outline"
                  class="text-2xl mx-auto my-auto"
                ></ion-icon>
              </div>
              <div class="pointer bg-cyan-700"></div>
            </div>
            <div
              class="grow h-1 border-b-[1px] border-dashed border-cyan-700"
            ></div>
            <div>
              <div
                class="bubble bg-cyan-100 text-cyan-700 border-2 border-cyan-700"
              >
                <ion-icon
                  name="create-outline"
                  class="text-2xl mx-auto my-auto"
                ></ion-icon>
              </div>
              <div
                class="pointer bg-cyan-100 border-b-2 border-r-2 border-cyan-700"
              ></div>
            </div>
            <div
              class="grow h-1 border-b-[1px] border-dashed border-cyan-700"
            ></div>
            <div class="flex items-center">
              <div>
                <div class="bubble bg-cyan-100 text-slate-400">
                  <ion-icon
                    name="cash-outline"
                    class="text-2xl mx-auto my-auto"
                  ></ion-icon>
                </div>
                <div class="pointer bg-cyan-100"></div>
              </div>
            </div>
          </div>
          <div class="flex justify-between mt-1 mx-1">
            <p class="text-center text-xs">Info</p>
            <p class="text-center text-xs">Action</p>
            <p class="text-center text-xs">Cost</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
