<div
  class="fixed w-full bottom-0 h-2/3 rounded-[32px] shadow-lg bg-transparent transform transition-transform duration-800 z-50"
  [class]="!isMenuOpen ? 'translate-y-[calc(100%+40px)]' : ''"
>
  <div class="h-full w-full flex">
    <div class="h-full w-[calc(100%-125px)] bg-white rounded-tl-[32px]"></div>
    <div class="">
      <svg
        height="34"
        viewBox="0 0 100 50"
        width="68"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z"
          fill="white"
          fill-rule="evenodd"
        ></path>
      </svg>
      <div class="w-auto h-full bg-white relative">
        <div
          class="absolute ml-[7px] -top-[62px] cursor-pointer w-[54px] h-[54px] bg-black rounded-full flex justify-center items-center"
          (click)="menuToggle()"
        >
          <ion-icon class="text-4xl fill-white" name="close"> </ion-icon>
        </div>
      </div>
    </div>
    <div class="h-full bg-white flex-grow rounded-tr-[32px]"></div>
  </div>
  <div class="absolute top-8 w-full h-full bg-transparent overflow-y-scroll">
    <div></div>
    <!-- Your Content -->
    <div class="px-3 py-5">
      <div class="relative">
        <input
          type="text"
          id="floating_outlined"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
        />
        <label
          for="floating_outlined"
          class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Floating outlined</label
        >
      </div>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-input
              required
              class="mb-4"
              fill="outline"
              label="Status"
              placeholder="Roof-ACC-Cement House"
              label-placement="floating"
            >
            </ion-input>

            <br />

            <ion-textarea
              label="Outline textarea"
              labelPlacement="floating"
              fill="outline"
              placeholder="Enter text"
            ></ion-textarea>
          </ion-col>
          <ion-col size="12"></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</div>
