<div
  class="fixed w-full bottom-0 h-2/3 rounded-[32px] shadow-lg bg-transparent transform transition-transform duration-800 z-50"
  [class]="!isMenuOpen ? 'translate-y-[calc(100%+40px)]' : ''"
>
  <div class="h-full w-full flex">
    <div class="h-full w-[calc(100%-125px)] bg-white rounded-tl-[32px]"></div>
    <div class="">
      <svg
        height="42"
        viewBox="0 0 100 50"
        width="82"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z"
          fill="white"
          fill-rule="evenodd"
        ></path>
      </svg>
      <div class="w-auto h-full bg-white relative">
        <div
          class="absolute ml-[5px] -top-[82px] cursor-pointer w-[72px] h-[72px] bg-black rounded-full flex justify-center items-center"
          (click)="menuToggle()"
        >
          <ion-icon class="text-5xl fill-white" name="close"> </ion-icon>
        </div>
      </div>
    </div>
    <div class="h-full bg-white flex-grow rounded-tr-[32px]"></div>
  </div>
  <div class="absolute top-8 w-full h-full bg-transparent overflow-y-scroll">
    <!-- Your Content -->
    <div class="px-3 py-5">
      <ion-textarea
        label="Outline textarea"
        labelPlacement="floating"
        fill="outline"
        placeholder="Enter text"
      ></ion-textarea>
    </div>
  </div>
</div>
