<ion-content>
  <div class="h-screen w-full flex overflow-hidden bg-gray-200">
    <div class="flex-1 flex flex-col overflow-hidden">
      <!-- Navbar -->
      <div class="bg-[#1a818f] text-white shadow">
        <div class="container mx-auto">
          <div class="flex justify-between items-center py-4 px-2">
            <h1 class="text-xl font-semibold">Components Page</h1>
          </div>
        </div>
      </div>

      <!-- Content Body -->
      <app-bottom-modal [isMenuOpen]="isMenuOpen"></app-bottom-modal>
      <div class="overflow-auto p-4">
        <div class="max-w-6xl h-auto mx-auto">
          <!-- Progress Bar -->
          <div class="flex pt-4 mb-5 items-center">
            <div class="">
              <div class="bubble bg-[#007382] text-white">
                <ion-icon
                  name="pencil-outline"
                  class="text-2xl mx-auto my-auto"
                ></ion-icon>
              </div>
              <div class="pointer bg-[#007382]"></div>
            </div>
            <div
              class="grow h-1 border-b-[1px] border-dashed border-[#007382]"
            ></div>
            <div>
              <div
                class="bubble bg-[#d6eaeb] text-[#007382] border-2 border-[#007382]"
              >
                <ion-icon
                  name="create-outline"
                  class="text-2xl mx-auto my-auto"
                ></ion-icon>
              </div>
              <div
                class="pointer bg-[#d6eaeb] border-b-2 border-r-2 border-[#007382]"
              ></div>
            </div>
            <div
              class="grow h-1 border-b-[1px] border-dashed border-[#007382]"
            ></div>
            <div class="flex items-center">
              <div>
                <div class="bubble bg-[#d6eaeb] text-slate-400">
                  <ion-icon
                    name="cash-outline"
                    class="text-2xl mx-auto my-auto"
                  ></ion-icon>
                </div>
                <div class="pointer bg-[#d6eaeb]"></div>
              </div>
            </div>
          </div>
          <!-- ------- -->

          <!-- bottom modal -->
          <button
            class="bg-red-400 px-2 rounded-full my-2"
            (click)="handleMenuToggle()"
          >
            Bottom Modal
          </button>

          <!-- Assessment Card -->
          <app-assessment-card [isOverdue]="false"></app-assessment-card>

          <!-- Action Card -->
          <app-action-card [isOverdue]="false"></app-action-card>

          <!-- Finding Card -->
          <app-finding-card [isOverdue]="false"></app-finding-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>
