.bubble {
  height: 34px;
  width: 34px;
  border-radius: 2px;
  text-align: center;
  display: flex;
}

.pointer {
  height: 8px;
  width: 8px;
  margin: 0 auto;
  transform: rotate(45deg);
  border-radius: 0 0 2px 0;
  margin-top: -4.6px;
  position: relative;
}

.curve {
  background: radial-gradient(
    85% 80px at left calc(100% - 73px),
    transparent 50%,
    white 0%
  );
}
