.bubble {
  height: 34px;
  width: 34px;
  border-radius: 2px;
  text-align: center;
  display: flex;
}

.pointer {
  height: 8px;
  width: 8px;
  margin: 0 auto;
  transform: rotate(45deg);
  border-radius: 0 0 2px 0;
  margin-top: -4.6px;
  position: relative;
}

.sidenav {
  height: 100%;
  width: 128px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
