<ion-header>
  <ion-toolbar class="bg-secondary">
    <ion-title class="text-center">Components</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-slate-200 h-auto">
    <div class="container max-w-6xl">
      <!-- Progress Bar -->
      <div class="flex pt-4 mb-5 items-center">
        <div class="">
          <div class="bubble bg-cyan-700 text-white">
            <ion-icon
              name="pencil-outline"
              class="text-2xl mx-auto my-auto"
            ></ion-icon>
          </div>
          <div class="pointer bg-cyan-700"></div>
        </div>
        <div
          class="grow h-1 border-b-[1px] border-dashed border-cyan-700"
        ></div>
        <div>
          <div
            class="bubble bg-cyan-100 text-cyan-700 border-2 border-cyan-700"
          >
            <ion-icon
              name="create-outline"
              class="text-2xl mx-auto my-auto"
            ></ion-icon>
          </div>
          <div
            class="pointer bg-cyan-100 border-b-2 border-r-2 border-cyan-700"
          ></div>
        </div>
        <div
          class="grow h-1 border-b-[1px] border-dashed border-cyan-700"
        ></div>
        <div class="flex items-center">
          <div>
            <div class="bubble bg-cyan-100 text-slate-400">
              <ion-icon
                name="cash-outline"
                class="text-2xl mx-auto my-auto"
              ></ion-icon>
            </div>
            <div class="pointer bg-cyan-100"></div>
          </div>
        </div>
      </div>

      <!-- CARDS -->
      <!-- ------------- -->
      <!-- Card 1 -->
      <app-assessment-card></app-assessment-card>

      <!-- Action Card -->
      <app-action-card></app-action-card>

      <!-- Finding Card -->
      <app-finding-card></app-finding-card>
      <!-- ------------- -->

      <!-- Click item box show -->
      <!-- ------------ -->
      <div>
        <ul class="bg-gray-400">
          <li
            class="cursor-pointer"
            *ngFor="let item of dataList"
            (click)="onItemClick(item)"
          >
            {{ item.name }}
          </li>
        </ul>

        <div *ngIf="isBoxVisible" class="data-box bg-yellow-200">
          <p>{{ selectedData.name }}</p>
          <button
            class="bg-blue-500 text-white px-2 rounded-sm"
            (click)="onCloseBox()"
          >
            Close
          </button>
        </div>
      </div>
      <!-- -------------  -->
    </div>
  </div>
</ion-content>
