/** Ionic CSS Variables **/
:root {
  /** background & text **/
  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;
  --ion-color-step-50: #e9f1f2;
  --ion-color-step-100: #dde5e6;
  --ion-color-step-150: #d0d8d9;
  --ion-color-step-200: #c4cbcc;
  --ion-color-step-250: #b8bfbf;
  --ion-color-step-300: #acb2b3;
  --ion-color-step-350: #9fa5a6;
  --ion-color-step-400: #939899;
  --ion-color-step-450: #878c8c;
  --ion-color-step-500: #7b7f80;
  --ion-color-step-550: #6e7273;
  --ion-color-step-600: #626666;
  --ion-color-step-650: #565959;
  --ion-color-step-700: #4a4c4d;
  --ion-color-step-750: #3d4040;
  --ion-color-step-800: #313333;
  --ion-color-step-850: #252626;
  --ion-color-step-900: #181919;
  --ion-color-step-950: #0c0d0d;
  --ion-background-color: #f5feff;
  --ion-background-color-rgb: 245, 254, 255;

  /** primary **/
  --ion-color-primary: #4ca1b1;
  --ion-color-primary-tint: #5eaab9;
  --ion-color-primary-shade: #438e9c;
  --ion-color-primary-rgb: 76, 161, 177;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0, 0, 0;

  /** secondary **/
  --ion-color-secondary: #007382;
  --ion-color-secondary-tint: #1a818f;
  --ion-color-secondary-rgb: 0, 115, 130;
  --ion-color-secondary-shade: #006572;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-tint: #6370ff;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-tint: #42d77d;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-tint: #ffca22;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-tint: #ed576b;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-tint: #383a3e;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-tint: #9d9fa6;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-tint: #f5f6f9;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
}

html {
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
