<!-- <ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-item class="">
          <ion-datetime class="" displayFormat="MM/DD/YYYY HH:mm"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="text-center text-3xl">Full Calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-slate-200 pt-3">


    
    
    <!-- Event Box 1-->
    <div class="max-w-96 mx-auto pb-10">
      <div class="relative overflow-hidden rounded-md">
        <div class="bg-white border-1 border-green-400 rounded-md p-3 text-sm relative">
          <div
            class="absolute top-0 right-0 w-5 h-5 rounded-full bg-slate-200 border-1 border-green-600 flex transform translate-x-1 -translate-y-1"
          >
            <div
              class="mx-auto my-auto w-3 h-3 rounded-full bg-green-600 shadow-md"
            ></div>
          </div>
            <div>
              <!-- top part -->
              <p [ngClass]="{ 'line-clamp-2': showLess }">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia dolores iste pariatur quibusdam, nisi suscipit, architecto eum dignissimos illo minus soluta ex dolor doloremque iure numquam inventore accusamus doloribus minima.
              </p>
              <div (click)="showLess = !showLess" class=" flex justify-end text-blue-500 cursor-pointer">
                {{ showLess ? 'more' : 'less' }}
              </div>

              <div class="w-full border-t-2 border-dashed my-1 border-green-400"></div>

              <!-- bottom part -->
              <div class="flex justify-between font-bold mt-2">
                <div class="">
                  <ion-icon class="text-xl text-green-600" name="analytics-outline"></ion-icon>
                  <p>Material</p>
                </div>
                <div clsss="">
                  <ion-icon class="text-xl text-green-600" name="calendar-clear-outline"></ion-icon>
                  <p>31 Jan 2024</p>
                </div>
                <div class="">
                  <ion-icon class="text-xl text-green-600" name="person-outline"></ion-icon>
                  <p>john.doe&#64;holcim.com</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>


    <!-- Event Box 2-->
    <div class="max-w-96 mx-auto pb-10">
      <div class="relative overflow-hidden rounded-md">
        <div class="bg-white border-1 border-blue-400 rounded-md p-3 text-sm relative">
          <div
            class="absolute top-0 right-0 w-5 h-5 rounded-full bg-slate-200 border-1 border-green-600 flex transform translate-x-1 -translate-y-1"
          >
            <div
              class="mx-auto my-auto w-3 h-3 rounded-full bg-blue-800 shadow-md"
            ></div>
          </div>
            <div>
              <!-- top part -->
              <p [ngClass]="{ 'line-clamp-2': showLess }" class="overflow-hidden">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia dolores iste pariatur quibusdam, nisi suscipit, architecto eum dignissimos illo minus soluta ex dolor doloremque iure numquam inventore accusamus doloribus minima.
              </p>
              <div (click)="showLess = !showLess" class="flex justify-end  text-blue-500 cursor-pointer">
                {{ showLess ? 'more' : 'less' }}
              </div>

              <div class="w-full border-t-2 border-dashed my-1 border-blue-400"></div>

              <!-- bottom part -->
              <div class="flex justify-between font-bold mt-2">
                <div clsss="">
                  <ion-icon class="text-xl text-blue-800" name="calendar-clear-outline"></ion-icon>
                  <p>31 Jan 2024</p>
                </div>
                <div class="">
                  <ion-icon class="text-xl text-blue-800" name="person-outline"></ion-icon>
                  <p>john.doe&#64;holcim.com</p>
                </div>
                <div class="">
                  <ion-icon class="text-xl text-blue-800" name="aperture-outline"></ion-icon>
                  <p class="bg-orange-500 px-1 text-xs text-white font-normal rounded-sm">Medium</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

<!-- FULL EVENT CALENDAR -->
    <div class="container max-w-7xl h-auto flex items-center justify-center">
      <div
        class="relative overflow-hidden w-full p-3 bg-white shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] rounded-md"
      >
        <!-- minimise Button -->
        <div
          class="absolute top-0 right-0 w-14 h-14 rounded-full bg-slate-200 flex transform translate-x-2 -translate-y-2"
        >
          <a
            class="mx-auto my-auto w-10 h-10 rounded-full bg-cyan-700 shadow-gray-400 shadow-md flex"
            href="/calendar"
          >
            <ion-icon
              class="text-white mx-auto my-auto text-xl"
              name="contract-outline"
            ></ion-icon>
          </a>
        </div>

        <!-- Calendar Top Section -->
        <div class="flex justify-between flex-wrap mt-2 mb-4 mr-16">
          <div class="flex gap-4">
            <div
              (click)="previousMonth()"
              class="w-8 h-8 bg-cyan-50 hover:bg-cyan-100 rounded-full flex cursor-pointer"
            >
              <div class="mx-auto my-auto">
                <i
                  class="text-sm text-cyan-700 font-light fa fa-chevron-left"
                ></i>
              </div>
            </div>
            <h3 class="text-lg font-semibold">{{ currentMonth }}</h3>

            <div
              (click)="nextMonth()"
              class="w-8 h-8 bg-cyan-50 hover:bg-cyan-100 rounded-full flex cursor-pointer"
            >
              <div class="mx-auto my-auto">
                <i
                  class="text-sm text-cyan-700 font-light fa fa-chevron-right"
                ></i>
              </div>
            </div>
            <div class="w-8 h-8 bg-teal-500 rounded-full flex">
              <i
                class="mx-auto my-auto text-sm text-white fa fa-calendar-plus-o"
              ></i>
            </div>
          </div>
          <div class="text-xs font-semibold flex gap-3 justify-between mb-3">
            <h5 class="text-gray-600 p-1">LEGENDS:</h5>
            <h5 class="bg-green-100 text-green-600 p-1 rounded-sm">
              ASSESSMENT
            </h5>
            <h5 class="bg-orange-100 text-orange-500 p-1 rounded-sm">
              FINDING
            </h5>
            <h5 class="bg-blue-100 text-blue-800 p-1 rounded-sm">ACTION</h5>
            <h5 class="bg-red-100 text-red-500 p-1 rounded-sm">OVERDUE</h5>
          </div>
        </div>

        <hr class="mb-3 border-t-2 border-slate-400" />

        <!-- The Calendar -->
        <div>
          <table class="w-full">
            <thead class="text-center">
              <tr>
                <ng-container *ngFor="let day of days">
                  <th
                    class="text-sm font-bold h-16 w-36"
                    [class.text-cyan-800]="isTodayDayName(day)"
                    [class.text-gray-400]="!isTodayDayName(day)"
                  >
                    {{ day }}
                  </th>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let week of weeks">
                <tr>
                  <ng-container *ngFor="let date of week">
                    <td
                      class="p-2 font-semibold h-28 w-36 relative"
                      [ngClass]="{
                        
                        'text-gray-600': !isToday(date),
                        'text-slate-100': isDifferentMonth(date)
                      }"
                    >
                      <div class="absolute top-0 right-0 m-2">
                        <span
                          [ngClass]="{
                        'bg-cyan-700 rounded-full py-1 px-2 text-white ': isToday(date)
                      }"
                          >{{ date }}</span
                        >
                      </div>
                      <div *ngIf="hasNotes(date)" class="absolute top-10 flex flex-col gap-1">
                        <div class="flex gap-2 items-center">
                          <div
                            class="w-2 h-2 rounded-full bg-orange-600"
                          ></div>
                          <div class="text-xs font-normal">Lorem ipsum event tol...</div>
                        </div>
                        <div class="flex gap-2 items-center">
                          <div
                            class="w-2 h-2 rounded-full bg-green-600"
                          ></div>
                          <div class="text-xs font-normal">Lorem ipsum items s...</div>
                        </div>
                        <div class="text-xs text-blue-400">+2 more</div>
                      </div>
                    </td>
                  </ng-container>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ion-content>
