<div class="max-w-96 mx-auto pb-10">
  <div class="relative rounded-md overflow-hidden">
    <div
      class="bg-white border-2 border-green-600 rounded-md p-3 text-sm relative"
    >
      <div
        class="absolute top-0 right-0 w-14 h-14 rounded-full bg-slate-200 border-2 border-green-600 flex transform translate-x-2.5 -translate-y-2.5"
      >
        <div
          class="mx-auto my-auto w-10 h-10 rounded-full bg-green-700 shadow-md flex"
        >
          <ion-icon
            class="text-2xl mx-auto my-auto text-white"
            name="location-outline"
          ></ion-icon>
        </div>
      </div>
      <div>
        <!-- top part -->

        <div>
          <p class="font-bold mb-3">2023-SIM-Black lane quarry</p>
        </div>
        <div class="my-2 border-t-[1.5px] border-dashed border-green-500"></div>
        <!-- middle part -->
        <div class="flex justify-between m-2 py-1">
          <div clsss="">
            <p class="text-xs">Created by</p>
            <p class="font-bold text-xs">john.doe&#64;holcim.com</p>
          </div>
          <div class="border-l-[2px] border-green-500"></div>
          <div class="">
            <p class="text-xs">Assign to</p>
            <p class="font-bold text-xs">joyce.smith&#64;holcim.com</p>
          </div>
        </div>
        <div class="my-2 border-t-[1.5px] border-dashed border-green-500"></div>
        <!-- bottom part -->
        <div class="flex justify-between mt-2">
          <div clsss="">
            <p class="text-xs">Assessment</p>
            <p class="font-bold text-xs">
              1<sup>st</sup> Jan - 30<sup>th</sup> Sep
            </p>
          </div>
          <div class="">
            <p class="text-xs">Approval</p>
            <p class="font-bold text-xs">
              1<sup>st</sup> Oct - 31<sup>st</sup> Dec
            </p>
            <button class="bg-red-600 text-white text-[10px] px-2 rounded-sm">
              PENDING
            </button>
          </div>
          <div class="">
            <p class="text-xs mb-1">Closed</p>
            <ion-icon
              class="text-xl text-gray-500 bg-gray-300 rounded-full p-1"
              name="checkmark-outline"
            ></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
