<div class="max-w-96 mx-auto pb-10">
  <div class="relative rounded-md">
    <div
      class="bg-white border-2 border-green-600 rounded-md p-3 text-sm relative"
    >
      <div
        class="absolute top-0 right-0 w-10 h-10 rounded-full bg-slate-200 border-1 border-green-600 flex transform translate-x-2 -translate-y-2"
      >
        <div
          class="mx-auto my-auto w-8 h-8 rounded-full bg-green-600 shadow-md"
        ></div>
      </div>
      <div>
        <!-- top part -->
        <div class="flex gap-3">
          <div>
            <p class="font-bold">2023-SIM-Black lane quarry</p>
          </div>
        </div>
        <hr class="my-2 border-t-[1.5px] border-blue-300" />
        <!-- middle part -->
        <div class="flex justify-between m-2 py-1">
          <div clsss="">
            <p class="text-xs">Created by</p>
            <p class="font-bold text-xs">john.doe&#64;holcim.com</p>
          </div>
          <div class="border-l-[1.5px] border-blue-100"></div>
          <div class="">
            <p class="text-xs">Asset name</p>
            <p class="font-bold text-xs">Silo 1</p>
          </div>
          <div class="border-l-[1.5px] border-blue-100"></div>
          <div>
            <p class="text-xs">Status</p>
            <button class="bg-red-600 text-white text-[10px] px-3 rounded-sm">
              OPEN
            </button>
          </div>
        </div>
        <hr class="my-2 border-t-[1.5px] border-blue-300" />
        <!-- bottom part -->
        <div class="flex justify-between mt-2">
          <div clsss="">
            <p class="text-xs">To</p>
            <p class="font-bold text-xs">joyce.smith&#64;holcim.com</p>
          </div>
          <div class="border-l-[1.5px] border-blue-100"></div>
          <div class="">
            <p class="text-xs">Due date</p>
            <p class="font-bold text-xs">1<sup>st</sup> Jan 2023</p>
          </div>
          <div class="">
            <ion-icon
              class="text-3xl text-cyan-700"
              name="star-outline"
            ></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
