<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center font-bold text-slate-700">
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong>Go to:</strong>
    <div class="flex justify-center gap-2">
      <a class="" href="/to-do"
        ><button
          class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mb-2"
        >
          ToDo Page
        </button></a
      >

      <a class="" href="/calendar"
        ><button
          class="bg-cyan-600 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded mb-2"
        >
          Calendar Page
        </button></a
      >

      <a class="" href="/full-calendar"
        ><button
          class="bg-yellow-600 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded mb-2"
        >
          Full Calendar
        </button></a
      >
      <a class="" href="/google-calendar"
        ><button
          class="bg-slate-600 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded mb-2"
        >
          Google Calendar
        </button></a
      >
      <a class="" href="/progress-bar"
        ><button
          class="bg-pink-600 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded mb-2"
        >
          Progress Bar
        </button></a
      >
      <a class="" href="/design-component"
        ><button
          class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-2"
        >
          Components
        </button></a
      >
    </div>
    <p>
      Ionic
      <a
        class="text-blue-600"
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
  </div>
</ion-content>
