<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center font-bold text-slate-700 ">
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div id="container">
    <strong>Go to:</strong>
    <div>
      <button class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mb-2"><a class="" href="/to-do">ToDo Page</a></button>
      <br>
      <button class="bg-cyan-600 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded mb-2"><a class="" href="/calendar">Calendar Page</a></button>
    </div>
    <p>Ionic <a class="text-blue-600" target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
